@model CarAllViewModel


    <div class="card m-3" style="width: 18rem;">
        <div class="mb-1 align-self-end">@Model.CreatedOn.ToShortDateString()</div>
    <h6 class="card-price mt-3">€@Model.Price.ToString("### ### ###.##")</h6>
        <img src="@Model.ImageUrl" class="card-img-top" alt="@Model.Make @Model.Model @Model.Year">
        <div class="card-body d-flex flex-column">
            <a class="text-decoration-none" asp-controller="Car" asp-action="Details" asp-route-id="@Model.Id"><h5 class="card-title text-black text-center">@Model.Make @Model.Model</h5></a>
            <hr class="mt-1 mb-2" />
            <h6 class="card-title">@Model.Year, @Model.FuelType, @Model.Kilometers.ToString("# ### ###") km, @Model.TransmissionType</h6>
            <p class="card-text fw-lighter mt-auto"><i>@Model.Description...</i></p>
            <div class="row mt-auto">
                <div class="col">
                    <p class="card-text">@Model.LocationCity, @Model.LocationCountry</p>
                </div>
                <div class="col align-self-end"><a asp-controller="Car" asp-action="Details" asp-route-id="@Model.Id" class="btn btn-dark">View more</a></div>
            </div>
        </div>
    </div>

